annotated-types==0.7.0
argcomplete==3.6.2
attrs==25.4.0
btrfsutil==6.17
cffi==2.0.0
chardet==5.2.0
click==8.2.1
cryptography==46.0.3
cupshelpers==1.0
dbus-python==1.4.0
defusedxml==0.7.1
distro==1.9.0
filelock==3.20.0
Glances==4.3.3
lit==21.1.4.dev0
netsnmp-python==1.0a1
nftables==0.1
OpenTimelineIO==0.17.0
orjson==3.11.3
packaging==25.0
pillow==12.0.0
pipx==1.8.0
platformdirs==4.5.0
psutil==7.1.1
pyaaf2==1.7.1
pycairo==1.28.0
pycparser==2.23
pycups==2.0.4
pydantic==2.12.3
pydantic_core==2.41.4
PyGObject==3.54.5
PyQt5==5.15.11
PyQt5_sip==12.17.1
QTermWidget==2.2.0
Reflector==2023.6.28.0.36.1
reportlab==4.2.2
smbus==1.1
TBB==0.2
typing-inspection==0.4.2
typing_extensions==4.15.0
ufw==0.36.2
userpath==1.9.2
wheel==0.45.1
